#visualization {
    text-align: center;
}

html, body {
    overflow: hidden;

}

.chart-title {
    font-size: 1.5em;
    font-family: 'Avenir', sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
    height: 10vh;

}


.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    padding: 5px;
    background: lightsteelblue;
    border: 1px solid #333;
    pointer-events: none;
    opacity: 0.8;
}

.chart-row {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}


#chart1 {
    /* Width and height relative to screen size */
    width: 70vw; /* 30% of the viewport width */
    height: 50vh;
    margin: 0px;
    border: 1px solid #ccc; /* Optional for visual structure */
}
#chart2 {
    /* Width and height relative to screen size */
    width: 30vw; /* 30% of the viewport width */
    height: 50vh;
    margin: 0px;
    border: 1px solid #ccc; /* Optional for visual structure */
}


.chart {
    /* Width and height relative to screen size */
    width: 33vw; /* 30% of the viewport width */
    height: 40vh;
    margin: 0;
    border: 1px solid #ccc; /* Optional for visual structure */
}

.ScatterPlot {
    /* Width and height relative to screen size */
    width: 33vw; /* 30% of the viewport width */
    height: 40vh;
    display: inline-block;
    margin: 0;
    border: 1px solid #ccc; /* Optional for visual structure */
}

.PseudoMap{
    /* Width and height relative to screen size */
    width: 33vw; /* 30% of the viewport width */
    height: 40vh;
    display: inline-block;
    margin: 0;
    border: 1px solid #ccc; /* Optional for visual structure */
}